<ul class="flex">
  <li class="mr-6">
    <%= link_to 'Sign-Up', new_user_registration_path, class: 'text-blue-500 hover:text-blue-800' %>
  </li>

  <li class="mr-6">
    <%= link_to 'Sign-In', new_user_session_path, class: 'text-blue-500 hover:text-blue-800' %>
  </li>

  <li class="mr-6">
    <%= button_to 'Sign-Out', destroy_user_session_path, method: 'delete', class: 'text-blue-500 hover:text-blue-800' %>
  </li>
</ul>